---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.search input {
    height: 30px;
    width: 60%;
    padding-left: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-size: 16px;
}

.post-title {
  @include relative-font-size(2);
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.site-title {
  @include relative-font-size(2.625);
  font-weight: 700;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
}