<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include search-lunr.html %}
        {{ content }}
        <div class="pagination">
    {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
        <a href="{{ "/page#{page}/" }}" class="page">{{ page }}</a>
      {% endfor %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% endif %}
    {% endif %}
  </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
